@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN+Guides&family=Quicksand:wght@300..700&family=Sarina&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --default-font: "Quicksand", sans-serif;
    --background-color: #FFF6ED;
    --default-text-color: #194027;
    --skills-text-color: #534e74;
    --skill-background-color: #b9b4dda3;

}

.body-me{
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--default-text-color);
}

.wrapper-me{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--background-color);
}

.who-its-me{
    margin-top: 50px;
    font-family: var(--default-font);

    & .title-how{
        margin-left: -5px;
        margin-bottom: 15px;
        font-size: 18px;
    }

    & .its-me{
        width: 90vw;
    }

    & .skills{
        margin-top: 15px;
        columns: 4;
        font-size: 12px;

        & .skill{
        margin-bottom: 5px;
        padding: 3px ;
        text-align: center;
        background-color: var(--skill-background-color);
        color: var(--skills-text-color);
        border-radius: 20px;
        list-style-type: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .skills{
        display: flex;
        justify-content: center;

        & .skill{
        margin-right: 5px;
        width: 75px;
        font-size: 14px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .who-its-me{
        & .title-how{
            font-size: 25px;
        }
    
        & .its-me{
            width: 90vw;
            font-size: 25px;
        }
    }
}