@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN+Guides&family=Quicksand:wght@300..700&family=Sarina&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --default-font: "Quicksand", sans-serif;
    --background-color: #FFF6ED;
    --text-color: #d5f5e0;
    --text-color-projects: #b9b4dd;
    --background-project: #2d583dc5;
    --background-button-hover: #194027;
    --color-box-shadow-photos: #6b696856;
}

.body-projects {
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--default-text-color);
    font-family: var(--default-font);
}

.wrapper-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--background-color);
}

.project-title {
    margin: 50px 0px 20px;
    font-size: 18px;
    width: 90vw;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80vw;
    height: 500px;
    gap: 10px;
    color: var(--text-color);
    background-color: var(--background-project);
    border-radius: 10px;
    box-shadow: 1px 3px 20px 0px var(--color-box-shadow-photos);
}

.name-project {
    font-size: 15px;
    padding-left: 10px;
}

.description-project {
    margin: 15px 10px;
    font-size: 13px;
}

.tecnologia {
    margin: 0px 0px 10px 10px;
    font-size: 13px;
}

.button-project {
    margin-bottom: 15px;
    text-decoration: underline;
    text-align: center;

    & .link-project {
        padding: 3px 10px;
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
    }

    & .link-project:hover {
        color: var(--text-color-projects);
        text-decoration: underline;
        text-decoration-color: #b9b4dd;
        font-weight: 700;
    }
}

.project1-photo {
    background: url('../../../assets/projects-images/project1/project1_small.png');
    background-size: cover;
    background-position: top;
    height: 280px;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
}

.project2-photo {
    background: url('../../../assets/projects-images/project2/project2_small.jpg');
    background-size: cover;
    background-position: top;
    height: 280px;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
}


.project3-photo {
    background: url('../../../assets/projects-images/project3/project3_small.png');
    background-size: cover;
    background-position: top;
    background-color: #FFF6ED;
    height: 280px;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
}

.button-see-more-projects {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    & button {
        padding: 3px 15px;
        font-size: 15px;
        border: 1px solid var(--color-border-button);
        border-radius: 25px;
        background-color: var(--background-color);
        color: var(--default-text-color);
        cursor: pointer;
    }

    & button:hover {
        color: var(--text-color);
        background-color: var(--background-button-hover);
    }
}

.project-container:hover{
    transform: scale(1.02); 
    transition: transform 0.5s ease;
}

@media screen and (min-width: 768px) {

    .project-title {
        margin-bottom: 60px;
        font-size: 25px;
    }

    .project1-photo {
        background: url('../../../assets/projects-images/project1/project1_large.png') no-repeat top;
        background-size: cover;
    }

    .project2-photo {
        background: url('../../../assets/projects-images/project2/project2_large.jpeg') top;
        background-size: cover;
    }

    .project3-photo {
        background: url('../../../assets/projects-images/project3/project3_large.png') top;
        background-size: cover;
    }

    .button-see-more-projects {
        & button {
            font-size: 23px;
        }
    }
}

@media screen and (min-width: 1024px) {

    .box-projects{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;

    }

    .project-title {
        margin-bottom: 60px;
        font-size: 25px;
    }

    .project-container {
        width: 30vw;
    }

    .project1-photo {
        background: url('../../../assets/projects-images/project1/project1_large.png') no-repeat top;
        background-size: cover;
        width: 30vw;
    }

    .project2-photo {
        background: url('../../../assets/projects-images/project2/project2_large.jpeg') top;
        background-size: cover;
        width: 30vw;
        height: 230px;
    }

    .project3-photo {
        background: url('../../../assets/projects-images/project3/project3_large.png') top;
        background-size: cover;
        width: 30vw;
        height: 300px;
    }

    .button-see-more-projects {
        & button {
            font-size: 23px;
        }
    }
}