@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN+Guides&family=Quicksand:wght@300..700&family=Sarina&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --default-font: "Quicksand", sans-serif;
    --background-color: #FFF6ED;
    --default-text-color: #194027;
    --box-shadow-color: #7b7a9d;
    --border-level-skills: #B4B2E1;
    --button-toggle-color: #7471b0;
}

.body-skills {
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--default-text-color);

    position: relative;
}

.wrapper-skills {
    margin-left: 25px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--background-color);
}

.title-skills {
    margin: 50px 0px 25px;
    font-size: 18px;
    font-family: var(--default-font);
}

.skil-level-toggle {
    cursor: pointer;
}

.skil-level-toggle:hover {
    color: var(--button-toggle-color);
    font-size: 16px;
}

.level-title {
    margin-top: 10px;
    margin-left: 3px;
    font-family: var(--default-font);
    font-size: 13px;
    font-weight: 600;
    color: var(--default-text-color);
}

.levels {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
    margin-top: 10px;

    & .level {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid var(--border-level-skills);
        list-style-type: none;
    }
}

.html,
.css,
.javascript,
.react,
.node,
.mysql {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
    list-style-type: none;
}

.html-skill-level,
.css-skill-level,
.javascript-skill-level,
.react-skill-level,
.node-skill-level,
.mysql-skill-level {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    padding-bottom: 5px;
    width: 25vw;
    box-shadow: -2px 3px 10px 0px var(--box-shadow-color);

    position: absolute;
    top: 150px;
    right: 1vw;
}
@media screen and (min-width: 768px) {
    .wrapper-skills {
        margin-left: -100px;
        margin-bottom: 250px;
        align-items: center;
    }

    .title-skills {
        font-size: 25px;
        margin-left: 260px;
        width: 100vw;
    }

    .level-title {
        margin-left: 5px;
        font-size: 15px;
    }

    .levels {
        gap: 5px;

        & .level {
            width: 15px;
            height: 15px;
        }
    }

    .html-skill-level,
    .css-skill-level,
    .javascript-skill-level,
    .react-skill-level,
    .node-skill-level,
    .mysql-skill-level {
        width: 25vw;

        right: 15vw;
    }
}

@media screen and (min-width: 1480px) {
    .wrapper-skills {
        margin-bottom: 600px;
    }
}