@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN+Guides&family=Quicksand:wght@300..700&family=Sarina&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --default-font: "Quicksand", sans-serif;
    --background-color: #FFF6ED;
    --default-text-color: #194027;
    --color-border-button: #194027;
    --background-button-all-project-hover: #194027;
    --background-all-project-hover: #ffffffdc;
    --color-text-button-all-project: #FFF6ED;
    --color-box-shadow-photos: #575553;
}

.body-all-projects {
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--default-text-color);
    font-family: var(--default-font);
}

.wrapper-all-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--background-color);
}

.all-project-title {
    margin: 50px 0px 15px 30px;
    font-size: 18px;
    width: 95vw;
}


.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80vw;
    height: 500px;
    gap: 10px;
    color: var(--text-color);
    background-color: var(--background-project);
    border-radius: 10px;
    box-shadow: 1px 3px 20px 0px var(--color-box-shadow-photos);
}

.all-name-project {
    font-size: 15px;
    padding-left: 10px;
}

.all-description-project {
    margin: 15px 10px;
    font-size: 13px;
}

.tecnologia {
    margin: 0px 0px 10px 10px;
    font-size: 13px;
}

.button-project {
    margin-bottom: 15px;
    text-decoration: underline;
    text-align: center;

    & .link-project {
        padding: 3px 10px;
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
    }

    & .link-project:hover {
        color: var(--text-color-projects);
        text-decoration: underline;
        text-decoration-color: #b9b4dd;
        font-weight: 700;
    }
}

.all-project1-photo {
    background: url('../../assets/projects-images/project1/project1_large.png');
    background-size: cover;
    background-position: top;
    height: 280px;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
}

.all-project2-photo {
    background: url('../../assets/projects-images/project2/project2_large.jpeg');
    background-size: cover;
    background-position: top;
    height: 280px;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
}


.all-project3-photo {
    background: url('../../assets/projects-images/project3/project3_large.png');
    background-size: cover;
    background-position: center;
    height: 280px;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
}

.all-project4-photo {
    background: url('../../assets/projects-images/project4/project4_large.png');
    background-size: cover;
    background-position: top;
    height: 280px;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
}

.all-project5-photo {
    background: url('../../assets/projects-images/project5/project5_large.png');
    background-size: cover;
    background-position: center;
    height: 280px;
    width: 80vw;
    border-radius: 10px 10px 0px 0px;
}

@media screen and (min-width: 768px) {

    .all-project-title {
        margin-bottom: 60px;
        font-size: 25px;
    }
}

@media screen and (min-width: 1024px) {

    .box-projects{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .all-project-title {
        margin-bottom: 60px;
        font-size: 25px;
    }

    .project-container {
        width: 30vw;
    }

    .all-project1-photo {
        width: 30vw;
        height: 195px;
    }

    .all-project2-photo {
        width: 30vw;
        height: 195px;
    }

    .all-project3-photo {
        width: 30vw;
        height: 195px;
    }

    .all-project4-photo {
        width: 30vw;
        height: 195px;
    }

    .all-project5-photo {
        width: 30vw;
        height: 195px;
    }
}